body{
    background-image:("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwi2_uHdpMLmAhUmErkGHciHADkQjRx6BAgBEAQ&url=https%3A%2F%2Fpt.wikipedia.org%2Fwiki%2FPok%25C3%25A9mon&psig=AOvVaw1aKrR-aN53wFSqOT1DFnP_&ust=1576864649250319");
    position: relative;
    background-color:skyblue;
}